<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <module-name>rest</module-name>
    
    <context-param>
      <param-name>resteasy.role.based.security</param-name>
      <param-value>true</param-value>
    </context-param>

    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>SzakdolgozatRealm</realm-name>
    </login-config>    
</web-app>